.product{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    border: 2px solid black;
    margin: 20px;
    width: 310px;
}

img{
    height: 200px;
}

.carousel-item img{
    margin-top: 5px;
    height: 500px;
    /* border: 2px solid black; */
}

.container1{
    width: 90vw;
    background-color: yellow;
}